<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <style>
        .container {
            width: 70%;
        }
        #form input[type='submit'], #list-form input[type="submit"] {
            border-radius: 25px;
        }
        .hidden {
            display: none;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            width: 300px;
            display: inline-block;
        }
        li {
            clear: both;
        }
        ul li button {
            border: none;
            outline: none;
            color: red;
            cursor: pointer;
            float:right;

        }
        .lists-wrapper {
            width: 50%;
            float: left;            
        }
        .todos-wrapper {
            width: 50%;
            float: right;
        }
        .todos-list {
            width: 50%;
            background-color: grey;
            border-radius: 10px;
        }
    </style>
</head> 
<body>
    <div class="container">
    <div class="lists-wrapper">
        <form id="list-form">
            <input type="text" name="list-description" id="list-description" />
            <input type="submit" value="Create List" />
        </form>
    
        <ul id="lists">
            {% for list in lists%}
                <li> <a href="/lists/{{list.id}}">
                    {{ list.name }}</a></li>
            {% endfor%}
        </ul>    
    </div>
    <div class="todos-wrapper">
        <form id="form">
            <input type="text" name="description" id="description" />
            <input type="submit" value="Create Todo" />
        </form>
        <div class="todos-list">
            <h4>{{active_list.name}}</h4>
            <ul id="todos">
                {% for todo in todos %}
                    <li><input class="check-completed" data-id="{{ todo.id }}" type="checkbox" {% if todo.completed %} checked {% endif %}>{{ todo.description }}
                        <button  class="delete-todo" data-id="{{ todo.id }}">&cross;</button>
                    </li>
                {% endfor %}
            </ul>    
        </div>
    
    </div>

    <div id="error" class="hidden">Something went wrong!</div>
    <script>
        const deleteBtns = document.querySelectorAll('.delete-todo');
        for (let i = 0; i < deleteBtns.length; i++) {
            const btn = deleteBtns[i];
            btn.onclick = function(e) {
            const todoId = e.target.dataset['id'];
            fetch('/todos/delete/' + todoId, {
                method: 'DELETE'
            });
            }
        }
        
        const checkboxes = document.querySelectorAll('.check-completed')
        for (let i=0;i< checkboxes.length;i++) {
           const checkbox = checkboxes[i]
           checkbox.onchange = function(e) {
               console.log('event', e)
               const newCompleted = e.target.checked
               const todoId = e.target.dataset['id']
               fetch('/todos/'+ todoId +'/set-completed', {
                   method: 'POST',
                   body: JSON.stringify({
                       'completed': newCompleted
                   }),
                   headers: {
                       'Content-Type': 'application/json'
                   }
               })
               .then(function() {
                   document.getElementById('error').className = 'hidden'
               })
               .catch(function() {
                document.getElementById('error').className = ''

            }) 
           } 
        }
        document.getElementById('form').onsubmit =function(e) {
            e.preventDefault()
            fetch('/todos/create', {
                method: 'POST',
                body: JSON.stringify({'description':document.getElementById('description').value}),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(function(response) {
                return resonse.json()
            }) 
            .then(function(jsonResponse) {
                console.log(jsonResponse)
                const elm = document.createElement("LI")
                elm.innerHTML = jsonResponse['description']
                document.getElementById('todos').appendChild(elm)
                document.getElementById('error').className = 'hidden'
            })
            .catch(function() {
                document.getElementById('error').className = ''

            }) 
        }

        document.getElementById('list-form').onsubmit = function(e) {
            e.preventDefault()
            fetch('/todos/cteate-list', {
                method: 'POST',
                body: JSON.stringify({
                    'list-description':document.getElementById('list-description').value}),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(function(response) {
                return response.json()
            })
            .then(function(responseJson) {
                console.log(responseJson)
                const elm = document.createElement("LI")
                elm.innerHTML = jsonResponse['description']
                document.getElementById('lists').appendChild(elm)
                document.getElementById('error').className = 'hidden'
            })
            .catch(function() {
                document.getElementById('error').className = ''
            })
            
        }
    </script>
    </div>
</body>
</html>